body {
    background-color: rgb(20, 19, 19);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto_Condensed/static/RobotoCondensed-Bold.ttf);
}
.lila {
    height: 80px;
    width: auto;
    margin-bottom: 130px;
}
h2 {
    text-align: center;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 35, 35);
    height: 300px;
    width: 300px;
    margin: auto;
    font-family: "Roboto";
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 25px violet;
}
label {
    letter-spacing: 2px;
}
input {
    font-family: "Roboto";
    border-radius: 5px;
    margin-top: 10px;
    height: 30px;
    margin-bottom: 10px;
}
.password {
    margin-bottom: 20px;
}
button {
    font-family: "Roboto";
    letter-spacing: 1px;
    display: block;
    margin: auto;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid violet;
    background: #252525;
    box-shadow: 3px 3px violet;
    cursor: pointer;
  }
  
  button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }