/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Hacemos que el cuerpo sea un contenedor flex */
    flex-direction: column; /* Establecemos la dirección de los elementos como columna */
    align-items: center; /* Centramos los elementos horizontalmente */
    background-image: url(Imagenes/violet.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    }



h1 {
    font-family: sans-serif;
    color: white;
    text-shadow: #000000;
    border-bottom: 3px solid white;
    border-radius: 5px;
}


.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lila {
    width: 200px; /* Ajusta el ancho según tu imagen */
    height: auto;
    margin-top: 20px; /* Margen superior para separar la imagen del encabezado */
    }

/* Estilos para cada producto */
.producto {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
    background-color: rgb(233, 155, 233);
    border-radius: 5px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Imagenes/lila12.jpg);
}


/* Estilos para las imágenes */
.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid white;
}

/* Estilos para los títulos y precios */
.producto h2 {
    margin: 10px 0;
}

.producto p {
    margin: 5px 0;
}